<div class="side-container bg-slate-50">
  <div class="side-bar pl-3 pr-3">
    <div class="flex flex-col items-center pt-2 pb-5">
      <h1 class="logo text-2xl font-semibold">OrderAgendy</h1>
    </div>
    <div>
      <button class="btn-sidebar">
        <h2 class="font-semibold flex items-center gap-2">
          <i class="pi pi-home" style="font-size: 1.2rem"></i>
          <span>Dashboard</span>
        </h2>
      </button>
    </div>
    <div class="apps">
      <ul class="mt-1">
        <li>
          <a
            routerLink="/ordens"
            routerLinkActive="active"
            class="flex items-center gap-2"
          >
            <i class="pi pi-wrench" style="font-size: 1.2rem"></i>
            <span class="font-semibold">Ordens de serviço</span>
          </a>
        </li>
        <li class="mt-2">
          <a
            routerLink="/agenda"
            routerLinkActive="active"
            class="flex items-center gap-2"
          >
            <i class="pi pi-calendar" style="font-size: 1.2rem"></i>
            <span class="font-semibold">Agenda</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
