<form class="form-agendamento mt-4">
  <div class="form-group mb-2">
    <label for="ordem">Ordem: </label>
    <input
      type="text"
      name="ordem"
      id="ordem"
      pInputText
      [(ngModel)]="value"
      placeholder="insert orden number"
    />
  </div>
  <div class="form-group mb-2">
    <label for="login">Login: </label>
    <input
      type="text"
      name="login"
      id="login"
      pInputText
      [(ngModel)]="loginInput"
    />
    <label for="nome">Nome: </label>
    <input
      type="text"
      name="nome"
      id="nome"
      pInputText
      [(ngModel)]="nomeInput"
    />
  </div>
</form>
